/*****----- Global Properties -----*****/
* {
    background:                  #2D1B14;
    background-transparency:     #2D1B1455;
    background-alt:              #462D23;
    foreground:                  #FFFFFF;
    selected:                    #E25F3E;
    active:                      #7B6C5B;
    urgent:                      #934A1C;
}